{% extends 'base.html' %}

{% block title %}Университеты{% endblock %}

{% block content %}
<h2>Университеты</h2>
{% if current_user.is_authenticated %}
    <p><a href="{{ url_for('university_create') }}">Добавить университет</a></p>
{% endif %}
<ul>
    {% for university in universities %}
        <li>
            {{ university.full_name }} ({{ university.short_name }}) - Основан {{ university.established_date }}
            {% if current_user.is_authenticated %}
                - <a href="{{ url_for('university_update', id=university.id) }}">Редактировать</a>
                - <a href="{{ url_for('university_delete', id=university.id) }}">Удалить</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}
